pandas>=2.0.0
Scrapy>=2.8.0
openai==0.27.10
tiktoken>=0.3.3
argparse>=1.4.0
pre-commit>=3.2.0
python-dotenv>=1.0.0
google-api-python-client
gradio
playwright-stealth>=1.0.5
jupyterlab
plotly>=5.14.1
deeplake
google-search-results
pytest-playwright
packaging
jupyter_nbextensions_configurator
deeplake[visualizer]
requests
beautifulsoup4
requests
langchain
pypdf[crypto]
unstructured[local-inference]
tensorboard
torch
torchvision
torchaudio
nltk
